<template name="login">
    <h3>Login</h3>
    <form>
        <div>
            <input type="email" name="loginEmail">
        </div>
        <div>
            <input type="password" name="loginPassword">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</template>
