<template name="interestPoint">
        <h3>Interest Points Manager</h3>
        <form>
            <div class="row interest-points-col">
                <div class="col-xs-12 row">

                    <div class="form-group">
                        <label for="tag">Tag</label>
                        <select firstoption='Select Tag' name="tag" id="tag_select">
                          {{#each Tags}}
                              <option value={{_id}}>{{tag}}</option>
                          {{/each}}
                        </select>
                        <small>Select from drop down to pick the tags</small>
                        <button type="button" class="pull-right" id="btn_add_tag">Add New Tag</button>
                    </div>
                </div>
                <div class="selected-tags">
                  {{#each SelectedTags}}
                      <label class="tag-selected">{{tag}}</label>
                  {{/each}}
                </div>
            </div>

            <div class="row interest-points-col">
                <div class="col-xs-12 row">
                    <div class="form-group">
                        <label for="users">Users</label>
                        <select firstoption='Select Users' name="user" id="user_select">
                          {{#each Users}}
                              <option value={{_id}}>{{username}}</option>
                          {{/each}}
                        </select>
                        <small>Select from drop down to Follow the user</small>
                    </div>
                </div>
                <div class="selected-users">
                  {{#each SelectedUsers}}
                      <label class="user-selected">{{username}}</label>
                  {{/each}}
                </div>
            </div>
            <button id="save_interests">Save</button>
        </form>
</template>
