/* Global Styles */

html,
body {
  height: 100%;
}

body {
  padding-top: 25px;
  background-color: #fcd6aa;
}


.message-rec{
  margin: 10px 1px;
  padding: 10px;
  background-color: white;

}

.add-message{
  padding: 4px;
  margin: 15px;
  background-color: #d5b18c;
}

.msg-text{
  font-size: medium;
  font-weight: 600;
}

.created-date{
  font-size: small;
  font-weight: 300;
  color: #0074d9;
  padding-top:5px;
  margin-top: 10px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background: #fcf7ec;
}

.tag-selected{
  padding: 3px;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 5px;
  color:black;
  margin: 5px;
}

.user-selected{
  padding: 3px;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 5px;
  color:black;
  margin: 5px;
}

.interest-points-col{
  padding: 3px;
  border: solid 2px black;
  margin: 5px;
}

.selected-tags{
  margin: 3px;
}

.selected-users{
  margin: 3px;

}
