<template name="posts">
    <div class="container">
    <div class="row">
      {{#each Posts}}
        {{>post}}
      {{/each}}
    </div>
    <hr>
    <div class="row">
        <div class="btn btn-default border-radius pull-right" id="load_more"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
    <hr>
    </div>
</template>


<template name="post">
    <div class="message-rec">
        <div class="row">
            <div class="col-xs-8">
                {{_id}}  - <small>{{temp_idx}}</small>
                <div class="msg-text">{{post_text}}</div>
                <div class="created-date pull-left">{{created_at}}</div>
            </div>
            <div class="col-xs-4">
              {{#each Tags}}
                  <div class="col-xs-2 user-selected"><small>{{tag}}</small></div>
              {{/each}}
            </div>
         </div>
    </div>
</template>
