<template name="postList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="page-header">Peerlyst {{userName}}</h1>
                <div class="row">
                    <button class="pull-right" id="logout">Logout</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{>interestPoint}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="btn btn-default border-radius pull-left" id="btn_add"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </div>
        <div class="row">
        {{>posts}}
        </div>

    </div>
</template>
