<template name="addPost">
    <div class="container ">
        <h3> Add a New Post</h3>
        <form>
            <div class="row add-message">
                <input class="col-xs-12" type="text" name="postText" minlength="10">
                <div class="col-xs-12 row">
                    <div class="form-group">
                        <label for="tag">Tag</label>
                        <select firstoption='Select Tag' name="tag" id="tag_select">
                           {{#each Tags}}
                              <option value={{_id}}>{{tag}}</option>
                           {{/each}}
                        </select>
                    </div>
                </div>
                <div>
                  {{#each SelectedTags}}
                      <label class="tag-selected">{{tag}}</label>
                  {{/each}}

                </div>

                <input class="pull-right" type="button" value="Cancel" id="btn_cancel">
                <input class="pull-right" type="submit" value="Post">
            </div>
        </form>
    </div>
</template>
