<template name="addTag">
    <div class="container ">
        <form>
            <div class="row add-message">
                <input class="col-md-4" type="text" name="addTag" minlength="10">
                <input class="col-md-1 col-md-offset-1" type="submit" value="Add">
                <input class="col-md-1 " type="button" value="Cancel" id="btn_cancel">
            </div>
        </form>
    </div>
</template>
