<template name="landing">
  {{#if currentUser}}
      {{>postList}}
  {{else}}
      <div class="row">
          <div class="col-xs-6 ">
            {{> register}}
          </div>
          <div class="col-xs-6 ">
            {{> login}}
          </div>
      </div>
  {{/if}}
</template>
