<template name="register">
    <h3>Register</h3>
    <form>
        <div>
            <input type="text" name="userName">
        </div>
        <div>
          <input type="email" name="registerEmail">
        </div>
        <div>
          <input type="password" name="registerPassword">
        </div>
        <div>
          <input type="submit" value="Register">
        </div>
    </form>
</template>
